.Button {
	cursor: pointer;
	color: #049604;
}

.clear {
	padding: 0;
	border: none;
	background: none;
	outline: none;
}

.outline {
	padding: 10px 15px;
	border: 1px solid #049604;
	color:#049604;
	background: none;
}